header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

@media screen and (max-width: 428px) {
    header{
        padding: 15px;
        font-size: 8px;
    }
}